html {
  background-image: url('./forest1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  color: white;
}

img {
  width: auto;
  height: 50px;
}

.MyGrid{
  display: grid;
  grid-template-rows: 30% 40% 30%;
  align-items: center;
}

.Score-Flex{
  display: flex;
  justify-content:  space-around;
  align-items: center;
  background-color: lightgrey;
  border-radius:  20px;
  border:  solid 5px rgba(76,76,76,0.5);
  margin:  50px;
  height:  120px;
  max-width:  600px;
  min-width: 400px;
}

.Scorecard-Flex{
  display: flex;
  justify-content:  center;
  z-index: 100;
}

.Count-Flex{
  display: flex;
  min-width:  200px;
  justify-content:  space-around;
  background-color: white;
  border-radius:  20px;
  border: solid 1px rgba(76,76,76,0.5);
  align-items: center;
  height: 90px;
}

.App-header {
  display: flex;
  margin:  20px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: lightgray;
}

.MyButton{
  grid-row-start: 3;
  width:20px;
  height: 20px;
  text-align: center;
  color: blue;
  background-color: white;
  border:  none;
}

.nameInput{
  disabled:  true;
}

input .nameInput toEdit{
  disabled: false;
}


.nextButton{
  disabled: true;
}

.nameButton toEdit{
  disabled: false;
}

.position {
  max-width: 25px;
  text-align: center;
  background-color: none;
  outline: none;
}

.position:disabled {
  background-color: none;
  outline: none;
}

.PlayerPiece {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.Square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(160,82,45, 0.7);
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  border-radius: 5px;
  margin: 35px;
}

.HoldingDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Player {
  display: flex;
  align-items: center;
}

.name {
  max-height: 20px;
}
